<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mobiliário Urbano</title>
    <meta name="description" content="{{ description }}">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body class="background" style="background-image:url('/static/img/fundo.jpg');">
<div id="menu">
    <img alt="Mobiliário urbano" src="/static/img/Logo.png" />
    <div id="menubar">
        <ul>
            <li> <a href="/sobre">Sobre</a> </li>
            <li> <a href="/creditos">Cr&eacute;ditos</a> </li>
            <li> <a href="/videos">V&iacute;deos</a> </li>
        </ul>
    </div>
</div>
<div class="fullscreen background parallax"  data-img-width="" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b-title">
            <div class="box">
                <img id="botao_inicio" alt="Iniciar" src="/static/img/button.png">
            </div>
       </div>
    </div>
</div>
<div class="fullscreen background parallax">
    <div class="content-a-txt">
        <div class="content-b">
        {% block content %}
        {{ page }} 
        {% endblock %}
        </div>
    </div>
</div>
<script src="/static/javascripts/jquery-1.12.2.min.js"></script>
<script src="/static/javascripts/jquery-scrollto.js"></script>
<script src="/static/javascripts/video_player.js"></script>
<script src="/static/javascripts/article.js"></script>
<script type="text/javascript">
        var p;
        $(function () {
            loc = window.location.pathname.slice(1);
            changeUrl = true;
            console.log(loc);

            if (loc != "") {
                url = '/roteiro/' + loc;
                changeUrl = false;
            } else {
                url = '/roteiro';
            }

            $.getJSON(url, function (json) {
                    var playlist = json;

                    $.each(playlist.sequence, function (i, e) {
                        if (i == 0) {
                            videoName = "Início";
                            videoUrl = '/' + playlist.slug;
                        }
                        else if (i == playlist.sequence.length - 1)
                            videoName = "Encerramento";
                        else
                            videoName = e.name;


                        videoUrl = playlist.slug + `#${i}`;

                        videoPart = $(`<div class="videoParte">${videoName}</div>`);

                        videoPart.click(function () {
                          changeVideo(undefined, true, i);
                        });
                        
                        $('#videoPath').append(videoPart);
                    });

                    startVideos("videoPlaying", playlist);
                    });

            $('#botao_inicio').hover(function () {
                $(this).animate({'opacity': '0.7'});
            }, function () {
                $(this).animate({'opacity': '1'});
            });

            $('#botao_inicio').click(function (){ 
               $('.content-b').ScrollTo({offsetTop: 40}); 
               $('#videoPlaying')[0].play();
            });
        });
</script>
</body>
</html>
