<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mobiliário Urbano</title>
    <meta name="description" content="{{ description }}">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body class="background" style="background-image:url('/static/img/fundo.jpg');">
<div id="menu">
    <a href="/"><img alt="Mobiliário urbano" src="/static/img/Logo.png" /></a>
    <div id="menubar">
        <ul>
            <li><a href="/sobre">Sobre</a></li>
            <li> Créditos </li>
            <li><a href="/videos">Vídeos</a> </li>
        </ul>
    </div>
</div>
<div class="not-fullscreen background parallax">
<img class="fullimg" alt="Mobiliário urbano" src="/static/img/creditos.jpg" />
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/static/javascripts/article.js"></script>
</body>
</html>
