<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mobiliário Urbano</title>
    <meta name="description" content="{{ description }}">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body class="background" style="background-image:url('/static/img/fundo.jpg');">
<div id="menu">
    <a href="/"><img alt="Mobiliário urbano" src="/static/img/Logo.png" /></a>
    <div id="menubar">
        <ul>
            <li><a href="/sobre">Sobre</a></li>
            <li> <a href="/creditos">Créditos</a></li>
            <li><a href="/videos">Vídeos</a></li>
            <li><a href="/mais">Mais</a></li>
        </ul>
    </div>
</div>
<div class="not-fullscreen background parallax">
<div class="about">
<h1><p><span>Mais Informações</span></p></h1><br />
  <p><span>O presente trabalho se completa agora, em maio de 2016, num cenário em nada melhor do que aquele em que se iniciou há um ano.<br />...
  </span></p>
  <br /><br /><br />
  <h2><span>DIGA - VILA ITORORÓ</span></h2>
  <p><span>Coletivo Mapa Xilografico</span>  <span> >> <a href="http://mapaxilografico.blogspot.com.br">site</a>, <a href="https://www.facebook.com/Coletivo-Mapa-Xilografico-841944232589931/?fref=ts">facebook</a>, <a href="https://vimeo.com/mapaxilografico">vimeo</a>, <a href="https://www.youtube.com/channel/UCO1dYsHNaqrg4xM9m7BobPA">youtube</a></span><br />
  <span>Filme "A Deriva"</span> <span> >> <a href="https://vimeo.com/51460632">vimeo</a></span></p>
  <br /><h2><span>DRÃO - CENTRO/IGREJA DOS HOMENS PRETOS/ATO</span></h2>
  <p><span>Geraldo Filme entrevista:</span> <span> >> <a href="https://www.youtube.com/watch?v=F5mcjian5Po">youtube</a></p>\
  <br /><h2><span>DANIEL - CENTRO/OCUPAÇÃO SÃO JOÃO</span></h2>
  <p><span>Frente de Luta por moradia</span> <span> >> <a href="http://www.portalflm.com.br">site</a></span></p>
  <p><span>Centro Cultural Ocupação São João</span> <span> >> <a href="https://www.facebook.com/Centro-Cultural-da-Ocupação-São-João-490900594319238/timeline/">facebook</a></span></p>
  <p><span>Despejo da ocupação em frente (Hotel Aquarius)</span> <span> >> <a href="https://www.youtube.com/watch?time_continue=231&v=BHoyIxvnoMM">youtube</a></span></p>
  <p><span>Dados de predios sem função social</span> <span> >> <a href="http://www.brasildefato.com.br/node/29990">site</a></span></p>
  <p><span>Zeitgeist</span> <span> >> <a href="https://movimentozeitgeist.com.br">site</a></span></p>
  <p><span>People before profit</span> <span> >> <a href="https://www.youtube.com/watch?v=L3tLioIVgfY">youtube</a></span></p>
  <br /><h2><span>JÚLIO - CENTRO CULTURAL JABAQUARA</span></h2>
  <p><span>Axé Ilê Obá</span> <span> >> <a href="http://www.axeileoba.com.br/index.php/2016/01/14/manifesto-territorio-de-cultura-afro-mae-sylvia-de-oxala/">site</a>, <a href="https://pt.wikipedia.org/wiki/Axé_Ilê_Obá">wikipedia</a>, <a href="https://www.facebook.com/axeileoba/">facebook</a></span></p>
  <p><span>Mapa Várzea do Carmo</span> <span> >> <a href="https://upload.wikimedia.org/wikipedia/commons/f/ff/Mapa_da_capital_da_Prov%C3%ADncia_de_São_Paulo%2C_1877.jpg">site</a>imagem</span></p>
  <p><span>Centro Cultural do Jabaquara</span> <span> >> <a href="https://www.facebook.com/CentroCulturalJabaquara/">facebook</a></span></p>
  <br /><h2><span>SABRINA - ANHANGABAÚ</span></h2>
  <p><span>Arquitetura da Gentrificação</span> <span> >> <a href="https://www.facebook.com/gentrificacao/?fref=ts">site</a>, <a href="https://www.facebook.com/gentrificacao/?fref=ts">facebook</a></span></p>
  <br /><h2><span>CASÉ - PÁTEO DO COLÉGIO/SÉ/LIBERDADE</span></h2>
<p><span>A - Publicações de Casé Angatu com sites:</span></p>
<p class="pub"><span>I - (Casé Angatu) SANTOS, Carlos José F. "Nem Tudo Era Italiano - São Paulo e pobreza na virada do século XIX-XX (1890-1915)". São Paulo: Annablume/FAPESP, (3a. Edição) 2008.</span><span> >> <a href="https://books.google.com.br/books?id=dXYRPmNGsTIC&printsec=frontcover&hl=pt-BR#v=onepage&q&f=false">site</a></span></p>
<p class="pub"><span>II - (Casé Angatu) SANTOS, Carlos José F. "Identidades Urbanas e Globalização: constituição dos territórios em Guarulhos/SP". São Paulo: Annablume/Sinpro-Gru, 2006.</span> <span> >> <a href="https://books.google.com.br/books?id=9K07azwtF-YC&printsec=frontcover&dq=Identidades+Urbanas+e+Globaliza%C3%A7%C3%A3o:+constitui%C3%A7%C3%A3o+dos+territ%C3%B3rios+em+Guarulhos/SP.&hl=pt-BR&sa=X&ved=0ahUKEwi76LCfqa_LAhUCI5AKHQjpDggQ6AEIHTAA#v=onepage&q=Identidades%20Urbanas%20e%20Globaliza%C3%A7%C3%A3o%3A%20constitui%C3%A7%C3%A3o%20dos%20territ%C3%B3rios%20em%20Guarulhos%2FSP.&f=false">site</a></span></p>
<p class="pub"><span>III - (Casé Angatu) SANTOS, Carlos José F. “Várzea Do Carmo Lavadeiras, Caipiras E ‘Pretos Véios’". In: Fundação Patrimônio Histórico da Energia de São Paulo. "Revista Memória Energia - n.28". São Paulo: Fundação Patrimônio Histórico da Energia de São Paulo, 2001</span> <span> >> <a href="http://www.energiaesaneamento.org.br/busca.aspx?search=V%C3%A1rzea+Do+Carmo+">site</a></span></p>
<p class="pub"><span>IV - (Casé Angatu) SANTOS, Carlos José F. " "História e Culturas Indígenas - Alguns Desafios no Ensino e na Aplicação da Lei 11.645/2008: De Qual História e Cultura Indígena Estamos Falando?". In: "Revista História & Perpectiva do Núcleo de Pesquisa e Estudos em História, Cidade e Trabalho do Curso de Graduação e Pós-Graduação em História da Universidade Federald de Uberlândia-UFU". Uberlândia: UFU, 2015.</span> <span> >> <a href="http://www.seer.ufu.br/index.php/historiaperspectivas/article/view/32772">site</a></span></p>
<p class="pub"><span>V - ANGATU, Casé e TUPINAMBÁ, Katu. “Mãe Terra Olivença: Território de Nossa Ancestralidade Sagrada”. In: Coletivo Indígena (Kariri-Xocó, Karapotó, Xokó, Ptxó, Pankararu, Pataxó Hãhãhãe, Tupinambá). "Memória da Mãe Terra". Território Indígena de Olivença/Ilhéus: Thydêwá, 2014, p. 06 - 09.</span> <span> >> <a href="http://www.thydewa.org/downloads1/">site</a></span></p>
<p class="pub"><span>VI - ANGATU, Casé. e TUPINAMBÁ, Katu. “Marcelino Vive em Nós”. In: Coletivo Indígena (Kariri-Xocó, Karapotó, Xokó, Patxó, Pankararu, Pataxó Hãhãhãe, Tupinambá). "Memória - Índios na visão dos índios: Memória". Território Indígena de Olivença/Ilhéus, 2012, p. 06 - 09.</span> <span> >> <a href="http://www.thydewa.org/downloads1/">site</a></span></p>
<p><span>B - Entrevistas Casé Angatu:</span></p>
<p class="pub"><span>I - Casé Angatu: entrevista realizada pela FolhaOnline, quando do aniversário da cidade de São Paulo e do Mercado Municipal com o título “Mercado Municipal (de São Paulo) Completa 75 Anos” (In: FolhaOnline. 25/01/2008.</span> <span> >> <a href=" https://www.youtube.com/watch?v=zrsf-rFy0C4">youtube</a></span></p>
<p class="pub"><span>II - Casé Angatu: Documentário: "Carpição, a Benção da Terra: uma tradição secular em Guarulhos", 2014.</span> <span> >> <a href=" https://www.youtube.com/watch?v=i0RPogARsZI">youtube</a></span></p>
<p class="pub"><span>III - Casé Angatu: entrevista sobre o tema da "Imigração em São Paulo" para a Secretaria de Educação do Governo do estado de São Paulo, 2014.</span> <span> >> <a href="http://www.ejamundodotrabalho.sp.gov.br/Conteudo.aspx?MateriaID=53&tipo=Videos">site</a></span></p>
<p class="pub"><span>IV - Casé Angatu: entrevista para o Coletivo Índio É Nós, intitulada: “Casé Angatu fala da luta dos Tupinambás e do Seminário Índio Caboclo Marcelino”, 2014.</span> <span> >> <a href="https://www.youtube.com/watch?v=psz9-JSk1WA">youtube</a></span></p>
<p class="pub"><span>V - Casé Angatu: entrevista para o jornal GGN de Luis Nassif acerca da história e luta indígena, 2014.</span> <span> >> <a href="https://www.youtube.com/watch?v=FRA_5xR6MEM&list=PLZUPpD2EGpfpLCbIVmHWu_TIQgGv_8Zbh">youtube</a></span></p>
</div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/static/javascripts/article.js"></script>
</body>
</html>
