<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mobiliário Urbano</title>
    <meta name="description" content="{{ description }}">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body class="background" style="background-image:url('/static/img/fundo.jpg');">
<div id="menu">
    <a href="/"><img alt="Mobiliário urbano" src="/static/img/Logo.png" /></a>
    <div id="menubar">
        <ul>
            <li><a href="/sobre">Sobre</a></li>
            <li> <a href="/creditos">Créditos</a> </li>
            <li><a href="/videos">Vídeos</a> </li>
        </ul>
    </div>
</div>
<div class="not-fullscreen background parallax">
<div class="aboutcontent">
<span class="about">O Projeto Mobiliário Urbano é uma obra de pesquisa e criação de webdocumentário sobre o processo de gentrificação no centro da cidade de São Paulo. O filme de formato variável é apresentado em uma plataforma online aberta, podendo ser visto de forma gratuita em qualquer navegador.</span>
<br /><br />
<span class="about">Para acessar os códigos do projeto, acesse <a href="https://github.com/Agreste/MobUrb">nosso link do GitHub</a> </span>
</div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/static/javascripts/article.js"></script>
</body>
</html>
