<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
<div class="btn-group" role="group"><button id="btnGroupVerticalDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vinhetas</button><div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
 <a class="Abertura" href="https://vimeo.com/159699169">ABERTURA</a>
 <a class="Borba 01" href="https://vimeo.com/159647395">Borba 01 - Praça da República</a>
 <a class="Borba 02" href="https://vimeo.com/159647406">Borba 02 - Ocupação São João</a>
 <a class="Borba 03" href="https://vimeo.com/159647423">Borba 03 - Largo do Payssandu</a>
 <a class="Borba 04" href="https://vimeo.com/159647436">Borba 04 - Ocupação de Moradia</a>
 <a class="Borba 05" href="https://vimeo.com/159647459">Borba 05 - Avenida São João</a>
 <a class="Borba 06" href="https://vimeo.com/159647473">Borba 06 - Indígenas no Anhangabaú</a>
 <a class="Borba 07" href="https://vimeo.com/159647493">Borba 07 - Limpeza</a>
 <a class="Borba 08" href="https://vimeo.com/159647515">Borba 08 - Viaduto do Chá</a>
 <a class="Borba 09" href="https://vimeo.com/159647541">Borba 09 - Bandeira</a>
 <a class="Borba 10" href="https://vimeo.com/159647566">Borba 10 - Prefeitura</a>
 <a class="Borba 11" href="https://vimeo.com/159647579">Borba 11 - Padre Anchieta</a>
 <a class="Borba 12" href="https://vimeo.com/159647598">Borba 12 - Igreja dos Enforcados</a>
 <a class="Borba 13" href="https://vimeo.com/159647618">Borba 13 - Demolição</a>
 <a class="Borba 14" href="https://vimeo.com/159647666">Borba 14 - Casa histórica</a>
 <a class="Borba 15" href="https://vimeo.com/159647687">Borba 15 - Centro Cultural do Jabaquara</a>
 <a class="Borba 16" href="https://vimeo.com/159647694">Borba 16 - Ciclista</a>
 <a class="Fechamento" href="https://vimeo.com/159699558">FECHAMENTO - Fim</a>
 </div>
 <div class="btn-group" role="group"><button id="btnGroupVerticalDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bergman</button><div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
 <a class="Bergman 01" href="https://vimeo.com/155806193">BERGMAN 01 - A busca de um embranquecimento.</a>
 <a class="Bergman 02" href="https://vimeo.com/155806727">BERGMAN 02 - Exaltação do bandeirante.</a>
 <a class="Bergman 03" href="https://vimeo.com/155806801">BERGMAN 03 - Homem branco fecundador civilizador.</a>
 <a class="Bergman 04" href="https://vimeo.com/155807039">BERGMAN 04 - O negro é o criminoso.</a>
 <a class="Bergman 05" href="https://vimeo.com/155807244">BERGMAN 05 - A herança do menino da fundação casa.</a>
 <a class="Bergman 06" href="https://vimeo.com/155808301">BERGMAN 06 - Quais mulheres morrem mais, quais mulheres morrem menos...</a>
 <a class="Bergman 07" href="https://vimeo.com/155808305">BERGMAN 07 - O governador está no palácio dos bandeirantes e os pretos estão lá na fundação casa.</a>
 <a class="Bergman 08" href="https://vimeo.com/155808307">BERGMAN 08 - Quem fica perto dos pobres é a polícia.</a>
 <a class="Bergman 09" href="https://vimeo.com/155808308">BERGMAN 09 - Ideologia burguesa.</a>
 <a class="Bergman 10" href="https://vimeo.com/155808314">BERGMAN 10 - Mito fundador bandeirante.</a>
 </div>
 <div class="btn-group" role="group"><button id="btnGroupVerticalDrop3" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Casé</button><div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
 <a class="Casé 01" href="https://vimeo.com/155804023">CASÉ 01 - Sou indígena e moro lá em Olivença.</a>
 <a class="Casé 02" href="https://vimeo.com/155804024">CASÉ 02 - É uma cidade murada, muito parecida com as cidades medievais</a>
 <a class="Casé 03" href="https://vimeo.com/155804025">CASÉ 03 - Vai dar enchente mesmo!!!</a>
 <a class="Casé 04" href="https://vimeo.com/155804029">CASÉ 04 - A minha visão é que esta cidade nunca foi uma cidade desinteressante.</a>
 <a class="Casé 05" href="https://vimeo.com/155804031">CASÉ 05 - A Várzea do Carmo é reduto, é território indígena, negro e popular.</a>
 <a class="Casé 06" href="https://vimeo.com/155804032">CASÉ 06 - O tamanduateí é uma espécie de muro de Berlim.</a>
 <a class="Casé 07" href="https://vimeo.com/155804033">CASÉ 07 - Aqui tinha a igreja Nossa Senhora do Rosário dos Homens Pretos.ç onde fica a Bolsa de Valores.</a>
 <a class="Casé 08" href="https://vimeo.com/155804042">CASÉ 08 - As estruturas de poder estão todas aqui.</a>
 <a class="Casé 09" href="https://vimeo.com/155804043">CASÉ 09 - "Peidar pode... Agora, fumar num pode, né?"</a>
 <a class="Casé 10" href="https://vimeo.com/155804036">CASÉ 10 - É isso que a gente chama de território.</a>
 <a class="Casé 11" href="https://vimeo.com/155804037">CASÉ 11 - O índio também é preto na visão do português.</a>
 <a class="Casé 12" href="https://vimeo.com/155804035">CASÉ 12 - Oh, devolva nossas terras que essas terras nos pertencem...</a>
 <a class="Casé 13" href="https://vimeo.com/155804778">CASÉ 13 - "Jacy îandé Jacy Mba-e pé moindy îandé taba. Tup_our tym. Isapé îandé taba."</a>
 <a class="Casé 14" href="https://vimeo.com/163932325">CASÉ 14 - Esqueci de falar da cerca.</a>
 <a class="Casé 15" href="https://vimeo.com/163926260">CASÉ 15 - Politécnica.</a>
 </div>
 <div class="btn-group" role="group"><button id="btnGroupVerticalDrop4" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Daniel</button><div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
 <a class="Daniel 01" href="https://vimeo.com/156085447">DANIEL 01 - Qual é a lógica de uma família manter com dois, três filhos uma casa pagando aluguel?</a>
 <a class="Daniel 02" href="https://vimeo.com/156085448">DANIEL 02 - Especulação imobiliária que a gente chama no movimento de corrupção imobiliária.</a>
 <a class="Daniel 03" href="https://vimeo.com/156085449">DANIEL 03 - Vejo uma perspectiva dos movimentos levantarem essa bandeira, entende?</a>
 <a class="Daniel 04" href="https://vimeo.com/156085451">DANIEL 04 - Aí o movimento entrou e praticamente tornou o espaço habitável.</a>
 <a class="Daniel 05" href="https://vimeo.com/156085452">DANIEL 05 - Um prédio que podia estar atendendo mais ou menos 200 famílias está vazio às moscas.</a>
 <a class="Daniel 06" href="https://vimeo.com/156085455">DANIEL 06 - O Centro é realmente a área que grita mesmo!</a>
 <a class="Daniel 07" href="https://vimeo.com/156085453">DANIEL 07 - Os números são assustadores.</a>
 <a class="Daniel 08" href="https://vimeo.com/156085456">DANIEL 08 - O Movimento são as famílias e a ocupação é uma ferramenta.</a>
 <a class="Daniel 09" href="https://vimeo.com/156085459">DANIEL 09 - A cidade é conflito. Se você não quer conflito vá viver num feudo.</a>
 <a class="Daniel 10" href="https://vimeo.com/156085463">DANIEL 10 - Com as ocupações a gente ocupa um espaço que não tem ninguém.</a>
 <a class="Daniel 11" href="https://vimeo.com/156085464">DANIEL 11 - Uma moradia que as pessoas deram significado para ser um espaço delas.</a>
 </div>
 <div class="btn-group" role="group"><button id="btnGroupVerticalDrop5" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Diga</button><div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
 <a class="Diga 01" href="https://vimeo.com/155801649">DIGA 01 - A Vila Itororó é um ótimo exemplo de um processo de gentrificação que está em curso.</a>
 <a class="Diga 02" href="https://vimeo.com/155801650">Diga 02 - E essa vila desde a década de 20 até o começo desse século até 2013, foi local de moradia.</a>
 <a class="Diga 03" href="https://vimeo.com/155801651">DIGA 03 - Querem impor uma narrativa dominante para apagar o que não interessa ao lucro.</a>
 <a class="Diga 04" href="https://vimeo.com/155801652">DIGA 04 - Habitar é cultura.</a>
 <a class="Diga 05" href="https://vimeo.com/155801653">DIGA 05 - Vocês estão usando a cultura de maneira cínica!</a>
 <a class="Diga 06" href="https://vimeo.com/155801656">DIGA 06 - É incrível, foram anos e anos de resistência aqui.</a>
 <a class="Diga 07" href="https://vimeo.com/155801658">DIGA 07 - Ali no terreno que é do Silvio Santos existiam casas tombadas.</a>
 <a class="Diga 08" href="https://vimeo.com/155801662">DIGA 08 - Pronto, acabou o carnaval de rua!</a>
 <a class="Diga 09" href="https://vimeo.com/155801674">DIGA 09 - A riqueza da Vila eram as pessoas que viviam aqui.</a>
 <a class="Diga 10" href="https://vimeo.com/155801676">DIGA 10 - O centro sempre foi um problema para as populações.</a>
 <a class="Diga 11" href="https://vimeo.com/155801725">DIGA 11 - O interesse é o lucro.</a>
 <a class="Diga 12" href="https://vimeo.com/155801683">DIGA 12 - Os corpos estão aí pra serem agenciados sem se dar conta disso.</a>
 <a class="Diga 13" href="https://vimeo.com/155801702">DIGA 13 - Se é lei Rouanet, envolve interesse privado.</a>
 <a class="Diga 14" href="https://vimeo.com/159642594">DIGA 14 - Bixiga Brodaway!</a>
 <a class="Diga 15" href="https://vimeo.com/159642681">Diga 15 - Deixar pessoas pobres, sem poder de consumo, morando aqui, é desvalorizar o entorno.</path>
 </div>
 <div class="btn-group" role="group"><button id="btnGroupVerticalDrop6" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Drão</button><div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
 <a class="Drão 01" href="https://vimeo.com/156247255">DRAO 01 - Atingiu em cheio a população indígena e a população preta.</a>
 <a class="Drão 02" href="https://vimeo.com/156247256">DRAO 02 - O Banco do Estado de São Paulo era a Igreja da Nossa Senhora do Rosário dos Homens Pretos.</a>
 <a class="Drão 03" href="https://vimeo.com/156247258">DRAO 03 - O que o Código de Posturas vai fazer?</a>
 <a class="Drão 04" href="https://vimeo.com/156247257">Drão 04 - Uma política oficial de governo de branqueamento da população.</a>
 <a class="Drão 05" href="https://vimeo.com/156247260">DRAO 05 - Um quilombo no meio da cidade de São Paulo?</a>
 <a class="Drão 06" href="https://vimeo.com/156247261">DRAO 06 - Há mais de 500 anos, o mesmo processo.</a>
 <a class="Drão 07" href="https://vimeo.com/156247262">DRAO 07 - A estátua da mãe preta em homenagem à memória das mulheres negras.</a>
 <a class="Drão 08" href="https://vimeo.com/156247265">DRAO 08 - A devoção dos santos pretos.</a>
 <a class="Drão 09" href="https://vimeo.com/156247263">DRAO 09 - Ama de leite.</a>
 <a class="Drão 10" href="https://vimeo.com/156247264">Drão 10 - Ainda é o mesmo tipo de padrão de segregação.</a>
 <a class="Drão 11" href="https://vimeo.com/156247266">DRAO 11 - Derruba, constrói, reconstrói, remodela, reorganiza, salubriza o ambiente, expulsa, segrega, mata!</a>
 <a class="Drão 12" href="https://vimeo.com/156247267">Drão 12 - &ldquo;Imigrantes unidos jamais serão vencidos&rdquo;</a>
 <a class="Drão 13" href="https://vimeo.com/158700024">Drão 13 - Operação Camanducaia</a>
 </div>
 <div class="btn-group" role="group"><button id="btnGroupVerticalDrop7" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Júlio</button><div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
 <a class="Júlio 01" href="https://vimeo.com/155802343">JULIO 01 - A árvore que sangrou.</a>
 <a class="Júlio 02" href="https://vimeo.com/155802344">JULIO 02 - A escravidão persiste em outros elos, em outras correntes, mas ela existe.</a>
 <a class="Júlio 03" href="https://vimeo.com/155802345">Júlio 03 - O primeiro Centro Cultural da cidade de São Paulo.</a>
 <a class="Júlio 04" href="https://vimeo.com/155802348">JULIO 04 - Nós somos frutos de um mesmo sistema.</a>
 <a class="Júlio 05" href="https://vimeo.com/155802350">JULIO 05 - Boto maracatu aqui até duas horas da manhã!</a>
 <a class="Júlio 06" href="https://vimeo.com/155802352">JULIO 06 - “Poxa, sou vizinho da História.” Mas que História?</a>
 <a class="Júlio 07" href="https://vimeo.com/155802356">JULIO 07 - Aqui eram todos rios, riachos e mananciais.</a>
 <a class="Júlio 08" href="https://vimeo.com/155802386">JULIO 08 - O primeiro advogado negro na história do Brasil.</a>
 <a class="Júlio 09" href="https://vimeo.com/155802424">JULIO 09 - Fragmentos de ossos.</a>
 <a class="Júlio 10" href="https://vimeo.com/155802382">JULIO 10 - Aqui foram colocados sacos de cimento, cal, terra.</a>
 <a class="Júlio 11" href="https://vimeo.com/155802393">Júlio 11 - Ja-ba-quara: "eu vim lá do alto”</a>
 <a class="Júlio 12" href="https://vimeo.com/155802402">JULIO 12 - Esse aqui é o senhor, dono de escravos.</a>
 <a class="Júlio 13" href="https://vimeo.com/155802397">JULIO 13 - A casa jesuítica.</a>
 </div>
 <div class="btn-group" role="group"><button id="btnGroupVerticalDrop8" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sabrina</button><div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
 <a class="Sabrina 01" href="https://vimeo.com/155803145">SABRINA 01 - “Mas qual que é a diferença entre Kassab e Haddad?”</a>
 <a class="Sabrina 02" href="https://vimeo.com/155803147">SABRINA 02 - Ele pixa o pato Donald...</a>
 <a class="Sabrina 03" href="https://vimeo.com/155803150">SABRINA 03 - Uma cidade lucrativa. Cidadãos clientes.</a>
 <a class="Sabrina 04" href="https://vimeo.com/155803155">SABRINA 04 - Banco Itaú.</a>
 <a class="Sabrina 05" href="https://vimeo.com/155803156">SABRINA 05 - Entregar até a última gota de sangue das suas vidas pra conseguir sobreviver.</a>
 <a class="Sabrina 06" href="https://vimeo.com/155803173">SABRINA 06 - Lógica Perversa.</a>
 <a class="Sabrina 07" href="https://vimeo.com/155803181">SABRINA 07 - Hipergentrificação.</a>
 <a class="Sabrina 08" href="https://vimeo.com/155803200">SABRINA 08 - É exatamente um abandono especulativo.</a>
 <a class="Sabrina 09" href="https://vimeo.com/155803211">SABRINA 09 - O discurso da "ressignificação" limpa o território sem dizer que está limpando.</a>
 <a class="Sabrina 10" href="https://vimeo.com/155803212">SABRINA 10 - Pautas anticapitalistas.</a>
 <a class="Sabrina 11" href="https://vimeo.com/159691858">SABRINA 11 - Já expulsava antes, mas com a copa se começou a expulsar muito mais.</a>
 <a class="Sabrina 12" href="https://vimeo.com/159691860">SABRINA 12 - O capitalismo consegue capitalizar até...sua vontade de cagar.</a>
 </div>
 </div>
