<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mobiliário Urbano</title>
    <meta name="description" content="{{ description }}">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.fancybox.css?v=2.1.5" media="screen" />
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.fancybox-buttons.css?v=2.1.5" media="screen" />
</head>
<body class="background" style="background-image:url('/static/img/fundo.jpg'); background-size: cover; background-color: black;">
<div id="menu">
    <a href="/"><img alt="Mobiliário urbano" src="/static/img/Logo.png" /></a>
    <div id="menubar">
        <ul>
            <li> Sobre </li>
            <li> <a href="/Creditos">Cr&eacute;ditos</a> </li>
            <li> <a href="/Videos">V&iacute;deos</a> </li>
        </ul>
    </div>
</div>
<div style="min-height: 2980px;">
    <div id="videos" class="container">
<div class="row thumbs">
<div class="col-md-2" style="padding:9px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155805719" class="fancybox-media"">CAZE 13 - ENCERRAMENTO</a></span>
            </div>
<div class="col-md-2" style="padding:30px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156085459" class="fancybox-media"">DANIEL 09</a></span>
            </div>
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155805718" class="fancybox-media"">CAZE 13 - DEPOIMENTO 5</a></span>
            </div>
<div class="col-md-2" style="padding:19px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155808307" class="fancybox-media"">BERGMAN 08</a></span>
            </div>
<div class="col-md-2" style="padding:18px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156247258" class="fancybox-media"">DRAO 03</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:8px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155801676" class="fancybox-media"">DIGA 10</a></span>
            </div>
<div class="col-md-2" style="padding:29px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155802356" class="fancybox-media"">JULIO 07</a></span>
            </div>
<div class="col-md-2" style="padding:18px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804778" class="fancybox-media"">CAZE 13 - ABERTURA</a></span>
            </div>
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155801662" class="fancybox-media"">DIGA 08</a></span>
            </div>
<div class="col-md-2" style="padding:8px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804037" class="fancybox-media"">CAZE 11</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:20px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155801656" class="fancybox-media"">DIGA 06</a></span>
            </div>
<div class="col-md-2" style="padding:21px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155808314" class="fancybox-media"">BERGMAN 10</a></span>
            </div>
<div class="col-md-2" style="padding:22px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156085456" class="fancybox-media"">DANIEL 08</a></span>
            </div>
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156085452" class="fancybox-media"">DANIEL 05</a></span>
            </div>
<div class="col-md-2" style="padding:28px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155801674" class="fancybox-media"">DIGA 09</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:21px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155802393" class="fancybox-media"">JULIO 11</a></span>
            </div>
<div class="col-md-2" style="padding:14px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155802350" class="fancybox-media"">JULIO 05</a></span>
            </div>
<div class="col-md-2" style="padding:24px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155802352" class="fancybox-media"">JULIO 06</a></span>
            </div>
<div class="col-md-2" style="padding:20px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155802424" class="fancybox-media"">JULIO 09</a></span>
            </div>
<div class="col-md-2" style="padding:20px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155801658" class="fancybox-media"">DIGA 07</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155803212" class="fancybox-media"">SABRINA 10</a></span>
            </div>
<div class="col-md-2" style="padding:9px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156247263" class="fancybox-media"">DRAO 09</a></span>
            </div>
<div class="col-md-2" style="padding:7px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156247261" class="fancybox-media"">DRAO 06</a></span>
            </div>
<div class="col-md-2" style="padding:8px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155803145" class="fancybox-media"">SABRINA 01</a></span>
            </div>
<div class="col-md-2" style="padding:11px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155803173" class="fancybox-media"">SABRINA 06</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:12px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155803147" class="fancybox-media"">SABRINA 02</a></span>
            </div>
<div class="col-md-2" style="padding:10px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155802345" class="fancybox-media"">JULIO 03</a></span>
            </div>
<div class="col-md-2" style="padding:10px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156247256" class="fancybox-media"">DRAO 02</a></span>
            </div>
<div class="col-md-2" style="padding:19px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155801683" class="fancybox-media"">DIGA 12</a></span>
            </div>
<div class="col-md-2" style="padding:28px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156085448" class="fancybox-media"">DANIEL 02</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:16px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156085451" class="fancybox-media"">DANIEL 04</a></span>
            </div>
<div class="col-md-2" style="padding:8px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156247262" class="fancybox-media"">DRAO 07</a></span>
            </div>
<div class="col-md-2" style="padding:6px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156247266" class="fancybox-media"">DRAO 11</a></span>
            </div>
<div class="col-md-2" style="padding:5px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155808308" class="fancybox-media"">BERGMAN 09</a></span>
            </div>
<div class="col-md-2" style="padding:14px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155802344" class="fancybox-media"">JULIO 02</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:9px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804029" class="fancybox-media"">CAZE 04</a></span>
            </div>
<div class="col-md-2" style="padding:10px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155801652" class="fancybox-media"">DIGA 04</a></span>
            </div>
<div class="col-md-2" style="padding:22px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156085455" class="fancybox-media"">DANIEL 06</a></span>
            </div>
<div class="col-md-2" style="padding:24px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156247265" class="fancybox-media"">DRAO 08</a></span>
            </div>
<div class="col-md-2" style="padding:9px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156247257" class="fancybox-media"">DRAO 04</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:6px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804781" class="fancybox-media"">CAZE 13 - DEPOIMENTO 2</a></span>
            </div>
<div class="col-md-2" style="padding:28px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804785" class="fancybox-media"">CAZE 13 - DEPOIMENTO 3</a></span>
            </div>
<div class="col-md-2" style="padding:21px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804025" class="fancybox-media"">CAZE 03</a></span>
            </div>
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804032" class="fancybox-media"">CAZE 06</a></span>
            </div>
<div class="col-md-2" style="padding:8px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155806801" class="fancybox-media"">BERGMAN 03</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:24px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155805717" class="fancybox-media"">CAZE 13 - DEPOIMENTO 4</a></span>
            </div>
<div class="col-md-2" style="padding:19px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155807244" class="fancybox-media"">BERGMAN 05</a></span>
            </div>
<div class="col-md-2" style="padding:26px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804031" class="fancybox-media"">CAZE 05</a></span>
            </div>
<div class="col-md-2" style="padding:30px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804024" class="fancybox-media"">CAZE 02</a></span>
            </div>
<div class="col-md-2" style="padding:5px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156085449" class="fancybox-media"">DANIEL 03</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:7px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155801649" class="fancybox-media"">DIGA 01</a></span>
            </div>
<div class="col-md-2" style="padding:13px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/158700024" class="fancybox-media"">DRAO CAMADUCAIA</a></span>
            </div>
<div class="col-md-2" style="padding:7px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156085447" class="fancybox-media"">DANIEL 01</a></span>
            </div>
<div class="col-md-2" style="padding:10px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804036" class="fancybox-media"">CAZE 10</a></span>
            </div>
<div class="col-md-2" style="padding:14px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/158698500" class="fancybox-media"">FECHAMENTO</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:8px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/159642594" class="fancybox-media"">DIGA 14</a></span>
            </div>
<div class="col-md-2" style="padding:5px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155801702" class="fancybox-media"">DIGA 13</a></span>
            </div>
<div class="col-md-2" style="padding:8px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156247255" class="fancybox-media"">DRAO 01</a></span>
            </div>
<div class="col-md-2" style="padding:27px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155801651" class="fancybox-media"">DIGA 03</a></span>
            </div>
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155803150" class="fancybox-media"">SABRINA 03</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:14px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155802397" class="fancybox-media"">JULIO 13</a></span>
            </div>
<div class="col-md-2" style="padding:11px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155802402" class="fancybox-media"">JULIO 12</a></span>
            </div>
<div class="col-md-2" style="padding:23px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156085453" class="fancybox-media"">DANIEL 07</a></span>
            </div>
<div class="col-md-2" style="padding:18px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804780" class="fancybox-media"">CAZE 13 - DEPOIMENTO 1</a></span>
            </div>
<div class="col-md-2" style="padding:16px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155803213" class="fancybox-media"">SABRINA 11</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:22px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156085464" class="fancybox-media"">DANIEL 11</a></span>
            </div>
<div class="col-md-2" style="padding:18px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155803200" class="fancybox-media"">SABRINA 08</a></span>
            </div>
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156247260" class="fancybox-media"">DRAO 05</a></span>
            </div>
<div class="col-md-2" style="padding:5px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155806193" class="fancybox-media"">BERGMAN 01</a></span>
            </div>
<div class="col-md-2" style="padding:10px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155801650" class="fancybox-media"">DIGA 02</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:11px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804042" class="fancybox-media"">CAZE 08</a></span>
            </div>
<div class="col-md-2" style="padding:6px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155802343" class="fancybox-media"">JULIO 01</a></span>
            </div>
<div class="col-md-2" style="padding:20px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155802348" class="fancybox-media"">JULIO 04</a></span>
            </div>
<div class="col-md-2" style="padding:7px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155808301" class="fancybox-media"">BERGMAN 06</a></span>
            </div>
<div class="col-md-2" style="padding:19px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155801653" class="fancybox-media"">DIGA 05</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:21px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155803181" class="fancybox-media"">SABRINA 07</a></span>
            </div>
<div class="col-md-2" style="padding:12px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804035" class="fancybox-media"">CAZE 12</a></span>
            </div>
<div class="col-md-2" style="padding:7px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/159647694" class="fancybox-media"">BORBA 16</a></span>
            </div>
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155801725" class="fancybox-media"">DIGA 11</a></span>
            </div>
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155803211" class="fancybox-media"">SABRINA 09</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:5px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156247264" class="fancybox-media"">DRAO 10</a></span>
            </div>
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156247267" class="fancybox-media"">DRAO 12</a></span>
            </div>
<div class="col-md-2" style="padding:30px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155803155" class="fancybox-media"">SABRINA 04</a></span>
            </div>
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804033" class="fancybox-media"">CAZE 07</a></span>
            </div>
<div class="col-md-2" style="padding:11px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155802382" class="fancybox-media"">JULIO 10</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/156085463" class="fancybox-media"">DANIEL 10</a></span>
            </div>
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804043" class="fancybox-media"">CAZE 09</a></span>
            </div>
<div class="col-md-2" style="padding:27px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155803156" class="fancybox-media"">SABRINA 05</a></span>
            </div>
<div class="col-md-2" style="padding:22px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155808305" class="fancybox-media"">BERGMAN 07</a></span>
            </div>
<div class="col-md-2" style="padding:15px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155807039" class="fancybox-media"">BERGMAN 04</a></span>
            </div>
</div>
<div class="row thumbs">
<div class="col-md-2" style="padding:20px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155804023" class="fancybox-media"">CAZE 01</a></span>
            </div>
<div class="col-md-2" style="padding:17px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155806727" class="fancybox-media"">BERGMAN 02</a></span>
            </div>
<div class="col-md-2" style="padding:29px;" >
                <span style="background-color: rgba(0,0,0,0.8); color: white; padding: 20px; font-size: 17px;"><a href="https://vimeo.com/155802386" class="fancybox-media"">JULIO 08</a></span>
            </div>
</div>

    </div>
</div>
<script src="/static/javascripts/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="/static/javascripts/jquery.fancybox.js?v=2.1.5"></script>
<script type="text/javascript" src="/static/javascripts/jquery.fancybox-media.js?v=1.0.6"></script>
<script src="/static/javascripts/jquery-scrollto.js"></script>
<script src="/static/javascripts/bootstrap.min.js"></script>
<script src="/static/javascripts/video_player.js"></script>
<script src="/static/javascripts/article.js"></script>
<script type="text/javascript">
        $(function () {
            $('.fancybox-media').fancybox({
                padding: 0,
                openEffect  : 'none',
                closeEffect : 'none',
                helpers : {
                    media : {},
                    overlay: {css: {'background': 'rgba(0,0,0,0.7)'}}
                }
            });
        });
</script>
</body>
</html>
